@import "tailwindcss";
@import "bootstrap-icons/font/bootstrap-icons.css";

@theme {
  --color-primary: #101920;
  --color-secondary: #d4a457;
  --color-background: #eaebeb;
  --color-blue: #4267b2;
  --color-danger: #b32b27;
  --color-green: #008000;
  --color-light-grey: #e1e1e1;
  --color-grey: #737373;
  --text-label: clamp(1.25, 5vw, 1.5rem);
  --text-p: clamp(0.875rem, 5vw, 1rem);
  --text-h3: clamp(1.125rem, 5vw, 1.5rem);
  --text-h2: clamp(1.5rem, 5vw, 1.75rem);
  --text-h1: clamp(1.75rem, 5vw, 2.125rem);
  --text-landing: clamp(2.375em, 5vw, 3rem);
  --text-btn: clamp(1.3, 5vw, 1.625rem);
  --text-underInput: clamp(0.875rem, 5vw, 1rem);
  --breakpoint-xs: 480px;
  --breakpoint-sm: 750px;
  --breakpoint-md: 1300px;
  --breakpoint-lg: 1550px;
  --font-sans: Arial, Helvetica, sans-serif;
}

.hidden {
  display: none;
}

/* Loader */
.loader-container {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.loaderHidden {
  opacity: 0;
  pointer-events: none;
}
