.topnav a {
  float: none;
  display: block;
  color: black;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 400;
  margin-right: 10px;
}

.topnav .icon {
  display: none;
  position: absolute;
  right: 0;
  background-color: white;
  border: none;
}

.container {
  display: inline-block;
  cursor: pointer;
}

.bi-house-door,
.bi-person,
.bi-box-arrow-right {
  color: black;
  font-size: 1.6rem;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 10px;
}

.change .bar1 {
  transform: rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -22px) rotate(45deg);
}

.nav-text {
  display: none;
}

@media screen and (max-width: 750px) {
  .nav-links {
    display: none;
  }

  .topnav .icon {
    display: block;
    position: relative;
    margin: 0 20px 0 auto;
  }

  .topnav a.icon {
    display: block;
  }

  .topnav.responsive {
    position: fixed;
    flex-direction: column;
    height: auto;
    align-items: flex-end;
  }

  .topnav.responsive .nav-logo {
    transform: translateY(-12px);
  }

  .topnav.responsive .nav-links {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    align-items: stretch;
  }

  .topnav.responsive .nav-links a {
    display: flex;
    gap: 10px;
    float: none;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    justify-content: center;
  }

  .bi-house-door,
  .bi-person,
  .bi-box-arrow-right {
    color: black;
  }

  .nav-text {
    display: block;
    color: black;
  }
  .topnav.responsive .nav-links a:hover {
    background-color: white;
    transition: background-color 0.3s ease;
  }

  .topnav.responsive .nav-links a:hover,
  .topnav.responsive .nav-links a:hover .nav-text,
  .topnav.responsive .nav-links a:hover i {
    color: black;
  }
}
